.badge {
    padding: 0px 4px;
    display: inline-block;
    border-radius: 4px;
    background-color: black;
}

.badge span {
    display: flex;
    align-items: center;
}

.badge span img {
    width: 16px;
    height: 16px;
}

.badge span small {
    font-family: serif;
}